body{
    margin-top: 5%;
    font-family: 'Verdana';
    text-align: center;
}

h1{
    font-family: 'Lobster';
    font-size: 150px;
}

#id_musicFile{
    font-size:20px;
    text-align: center;
    margin-left: auto;
    margin-right:auto;
    border-style: solid;
    border-width: 2px;
    border-color: grey;
}

td{
    text-align:left;
}

.navbar{
    margin-left: 380px;
    margin-right:380px;
    width: 350px;
}